.show-result-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
  
select {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}
  
.btnShow {
    padding: 5px 16px;
    background-color: #0f172a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
  
.btnShow:hover {
    background-color: #0f172a;
}
  
.result-container {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


/* Responsive styles */
@media (max-width: 600px) {
    .show-result-container {
      margin: 120px auto;
    }
    .input-container {
      flex-direction: column;
      gap: 10px;
    }
  
    select {
      width: 100%;
      padding: 10px;
      font-size: 14px;
    }
  
    .btnShow {
      padding: 12px 16px;
      font-size: 14px;
    }
}