.box_score {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.box_score h2 {
    text-align: center;
    padding: 20px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
}

.returnBtn{
    margin-top: 50px;

}
  